.center_div{
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
    border-radius: 42px;
    height: 500px;
    background-color: #E8E9ED;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: auto;
}
input {
    width: 300px;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 5%;
    padding: 6px;
    font-size: 18px;
    border-width: 0px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 14px;
    box-shadow: 3px 1px 5px rgba(66,66,66,.60);
    text-shadow: -1px 0px 0px rgba(66,66,66,.0);
}
input:focus {
    outline:none;
}
.main_div .center_div .btn {
    -webkit-border-radius: 29;
    -moz-border-radius: 29;
    border-radius: 29px;
    -webkit-box-shadow: 3px 2px 5px #d6cfd6;
    -moz-box-shadow: 3px 2px 5px #d6cfd6;
    box-shadow: 3px 2px 5px #d6cfd6;
    font-family: Arial;
    color: #000000;
    font-size: 29px;
    background: #ffffff;
    padding: 0px 22px 0px 22px;
    border: solid #ffffff 0px;
    text-decoration: none;
  }
  
.main_div .center_div .btn:hover {
    color: white;
    background: #61ff81;
    text-decoration: none;
    cursor: pointer;
  }

.actualList{
    font-family: "Courier New", Courier, monospace;
    font-size: 24px;
    letter-spacing: 0.6px;
    word-spacing: 0.4px;
    color: #FF7B9C;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    margin-top: 5%;
    margin-left: 20%;
}
.actualList ol li{
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 10%;
    display: inline;
}
.actualList ol button{
    margin-right: 15%;
    float: right;
    -webkit-border-radius: 59;
    -moz-border-radius: 59;
    border-radius: 59px;
    -webkit-box-shadow: 1px 2px 3px #666666;
    -moz-box-shadow: 1px 2px 3px #666666;
    box-shadow: 1px 2px 3px #666666;
    font-family: Arial;
    color: #d60000;
    font-size: 20px;
    background: #ffffff;
    padding: 0px 8px 0px 11px;
    border: solid #ffffff 0px;
    text-decoration: none;
}
.actualList ol button:hover{
    background: #ff0000;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
